.background-img{
    width: 100%;
    position: ;
    object-fit: cover;
    
}
body{
    margin: 0px;
}
.head{
    text-align: center;
    color: white;
    font-size: 40px;
}
.search{
    width: 40%;
    margin: 0 auto;
    position: relative;
    bottom: 320px;

}
.form-control{
    font-size: 22px;
}
#button-addon2{
    font-size: 25px;

}
/* City Icon */
.city-icon{
    text-align: center;
}
@media (max-width:768px){
    .n-bar{
        position: static;
    }
    /* .search{
        font-size: 10px;
        margin: 0 auto;
    } */
    .head{
        font-size: 20px;
    }
    .city-card{
        width: 50%;
        margin: 10px auto;
    }
    .city-card-container{
        margin: 0 auto;
    }
    # search-form{
        height: 30px;
    }
    .search{
        width: 75%;
        font-size: 15px;
        margin: 0 auto;
        position: relative;
        bottom: 200px;
    }
    .city-search{
        font-size: 10px;
    }
    .background-img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        
    }
    .head{
        font-size: 25px;
    }
    .form-control{
        font-size: 15px;
    }
    #button-addon2{
        font-size: 10px;
        height: 30px;
    
    }
}
.city-card{
  padding: 20px; 
  border-radius: 100%;  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.city-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}